<!DOCTYPE html>
<html>
<head>
  <title>Ruby auth metamask</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag    "ruby_auth_metamask/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
